<% if (order) {%>
  <tr><td class = 'orderId'><%= order.orderId %></td>
  <td class = 'companyName'><%= order.companyName %></td>
  <td class = 'customerAddress'><%= order.customerAddress %></td>
  <td class == 'orderedItem'><%= order.orderedItem %></td></tr>
<% } else  %>
