<!DOCTYPE html>
<html>
<head>
<title>Orders</title>
<meta name="description" content="Orders">
<meta name="keywords" content="">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style>
      .operation {border: 1px dashed #808000}
      .operation:hover {border: 1px solid #ffff00}
      table {

        border: 1px dashed black;
      }
    </style>
<%- renderScriptsTags() %>



 
</head>
<body>